@import "./default-skin.css";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";
@import "./jquery.mCustomScrollbar.min.css";
@import "~nouislider/distribute/nouislider.css";
@import "~plyr/dist/plyr.css";
@import "~photoswipe/dist/photoswipe.css";
@import "./theme.scss";

#all-movie .card {
  background-color: transparent;
}

.plyr__captions {
  font-family: roboto, sans-serif;
  font-size: 16pt;
}

.video-container {
  min-width: 100%;
  max-width: 100%;
}

.video-container video {
  width: 100%;
}

.home__title {
  margin-bottom: 16px;
}